<%- include('addProductModal') %>
        <img src="../images/logo3.jpg" alt="">
        <span id="title"><span style="color:green;font-size: 27px;">Org</span>anic</span>
        <span class="navbar" >
            <a href="#">Users</a>
            <a href="#">Sales</a>
            <a href="#" data-toggle="modal" data-target="#exampleModal">Add Product</a>
            <a href="#">Orders</a>
            <a href="#">Transactions</a>
            <!-- /admin/addProduct.htm -->
          
        </span>
        <span class="searchbar" ><input type="text" name="" id=""><button class="btn btn-success" style="width: 4em;height: 2em;">Search</button></span>

           
        