
        <table><tr><td id="passage">
            <h2>Count on us for your Seasonal Vegetables Shipments</h2>
            <h4>Shipping vegetables requires meticulous care. To preserve their taste, freshness, texture and aroma, temperature and humidity levels need to be just right throughout the entire journey. At MSC, we follow highly standardised control procedures to guarantee optimal transport conditions from pick-up to delivery.</h4>
        </td></tr></table><br>

        
        <table>
            <tr><h2>Fruit & Vegetables</h2><hr style="color: tomato;">
            <td>  
            <div class="card">
                <img src="images/tomato.jpg" class="card-img-top" alt="cards">
                <div class="card-body">
                  <h5 class="card-title" style="text-align: center;font-size: 13px;">Tomato</h5>
                  <p class="card-text" style="text-align: center;">Rs:190 Per Kg</p>
                  <button class="btn btn-primary">Add to Cart</button>
                </div>
              </div>
              </td>
              <td>
            <div class="card">
                <img src="images/califlower.png" class="card-img-top" alt="cards">
                <div class="card-body">
                  <h5 class="card-title" style="text-align: center;font-size: 13px;">CaliFlpwer</h5>
                  <p class="card-text" style="text-align: center;">Rs:77 Per Kg</p>
                  <button class="btn btn-primary">Add to Cart</button>
                </div>
              </div>
            </td>
            <td>
            <div class="card">
                <img src="images/potatots.jpg" class="card-img-top" alt="cards">
                <div class="card-body">
                  <h5 class="card-title" style="text-align: center;font-size: 13px;">Potatos</h5>
                  <p class="card-text" style="text-align: center;">Rs:72 Per Kg</p>
                  <button class="btn btn-primary">Add to Cart</button>
                </div>
              </div>
            </td>
            <td>
            <div class="card">
                <img src="images/pineapple.jpg" class="card-img-top" alt="cards">
                <div class="card-body">
                  <h5 class="card-title" style="text-align: center;font-size: 13px;">Pinapple</h5>
                  <p class="card-text" style="text-align: center;">Rs:27 Per Kg</p>
                  <button class="btn btn-primary">Add to Cart</button>
                </div>
              </div>
            </td>
            <td>
            </tr>

            <!-- for spacing -->
            <tr><td></td></tr>
            <tr><td></td></tr>
            <tr><td></td></tr>
            <tr><td></td></tr>

            <tr><td>
            <div class="card">
                <img src="images/carrots.jpg" class="card-img-top" alt="cards">
                <div class="card-body">
                  <h5 class="card-title" style="text-align: center;font-size: 13px;">Carrot</h5>
                  <p class="card-text" style="text-align: center;">Rs:20 Per Kg</p>
                  <button class="btn btn-primary">Add to Cart</button>
                </div>
              </div>
            </td>
       
            <td>
            <div class="card">
                <img src="images/grapes.jpg" class="card-img-top" alt="cards">
                <div class="card-body">
                  <h5 class="card-title" style="text-align: center;font-size: 13px;">Grapes</h5>
                  <p class="card-text" style="text-align: center;">Rs:230 Per Kg</p>
                  <button class="btn btn-primary">Add to Cart</button>
                </div>
              </div></td>

    </td></tr></table>