<html>
    <head><title>Organic Vegs</title>
        <link rel="stylesheet" href="components.css">
    </head>
    <body>
        <table style="position: relative;left: 13.8rem;">
            <tr>
                <td id="header">
                    <%- include('./header') %>
                </td>  
            </tr>

            <tr>
                <td id="content">
                   <%- include('./content') %>

                </td>    
            </tr>
            <!-- footer -->
            
            <tr>
                <td id="footer">
                    <%- include('footer') %>
                </td>
                
            </tr>
            
        </table>
    </body>
</html>