
        <table align="center">
            <tr><td>
            <h3 style="text-align: center;color: black;">Join Our Society.</h3>
            </td>
        </tr>
        <tr>
            <td><input type="text" name="" id="" style="border-radius: 6px;">
            <button>Submit</button></td>
        </tr>
        </table>
        
        <br>
        <table style="width: 1000px;" align="center">
            <tr>
                <th style="text-align: start;color: black;">Customer Care</th>
                <th style="text-align: start;color: black;">FAQ's</th>
                <th style="text-align: start;color: black;">Our Company</th>
            </tr>
            <tr>
                <td>Regular</td>
                <td>No-E-charge</td>
                <td>About</td>
            </tr>
            <tr>
                <td>On time</td>
                <td>Shoping and delivery</td>
                <td>News feed</td>
            </tr>
            
        </table>