
        <img src="images/logo3.jpg" alt="">
        <span id="title"><span style="color:green;font-size: 27px;">Org</span>anic</span>
        <span class="navbar">
            <a href="#">Menu</a>
            <a href="#">About</a>
            <a href="#">Contact</a>
            <a href="#">Order Placing</a>
        </span>
        <span class="searchbar"><input type="text" name="" id=""><button class="btn btn-success">Search</button></span>
